In [1]:
from faker import Faker
from faker_vehicle import VehicleProvider
import pandas as pd
from faker.providers import automotive

In [2]:
def licence_plate():
    from random import choice
    import string
    import random
    letter = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    number = ''.join([choice(letter) for i in range(3)] + [" "] +[choice(string.digits) for i in range(3)])
    return number

def vin_number():
    from random import choice
    import string
    import random
    letter = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    number = ''.join([choice(string.digits) for i in range(1)] + 
                [""] +[choice(letter) for i in range(4)] + 
                [""] +[choice(string.digits) for i in range(2)] +
                [""] +[choice(letter) for i in range(4)] +
                [""] +[choice(string.digits) for i in range(6)]    
                )
    return number

In [3]:
fake = Faker("en_US")

In [4]:
fake.add_provider(VehicleProvider)

In [5]:
ident = {}
for i in range(0,100000):
    ident[i] = {}    
    ident[i]["First Name"] = fake.first_name()
    ident[i]["First Name"] = fake.first_name()
    ident[i]["Last Name"] = fake.last_name()
    ident[i]["Social Security"] = fake.ssn()
    ident[i]["License Plate"] = licence_plate()
    ident[i]["VIN Number"] = vin_number()
    ident[i]["Address 1"] = fake.street_address()
    ident[i]["City"] = fake.city()
    ident[i]["Postal Code"] = fake.zipcode_in_state("TX")
    ident[i]["State"] = "Texas"
    ident[i]["Country"] = fake.current_country()
    ident[i]["Vehicle"] = fake.vehicle_object()

In [6]:
v_list = []
for i in range(0,100000):
    v_list.append(ident[i]["Vehicle"])

In [7]:
df_info = pd.DataFrame(ident).transpose().drop(columns="Vehicle")
df_vehicle = pd.DataFrame(v_list)

In [8]:
df = pd.merge(
    left=df_info,
    right = df_vehicle,
    how = "outer",
    on = df_info.index
).drop("key_0",axis=1)

In [9]:
df

,First Name,Last Name,Social Security,License Plate,VIN Number,Address 1,City,Postal Code,State,Country,Year,Make,Model,Category
0,Thomas,Huynh,884-82-6078,BVD 113,7RBMJ32FPVA352079,02818 Moss Keys,North Isaacburgh,77197,Texas,United States,2010,Lexus,IS F,Sedan
1,Christopher,Forbes,359-14-0194,ONX 637,2GZCX73HAXE452250,478 Karen Centers,West Christopher,79175,Texas,United States,2000,GMC,Yukon XL 2500,SUV
2,Zachary,Freeman,427-75-4885,PGW 485,0LZTZ54PUXQ063971,9296 Kelly Station,Mccoyport,79207,Texas,United States,2000,Porsche,Boxster,Convertible
3,Joseph,Stone,330-90-3602,JMM 552,8EEBD64JQDZ820544,88412 Thomas Villages,South Brittneyhaven,77039,Texas,United States,2008,Chevrolet,Avalanche,SUV
4,Michael,Turner,746-69-7083,INO 644,6PESZ11OIHU399677,003 Joyce Ridge,South Mark,79889,Texas,United States,2017,Toyota,Prius Prime,Hatchback
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Tara,Flores,792-01-6348,VRZ 700,9AZPS49PULG110409,66409 Jessica Roads,New Jamesfurt,79132,Texas,United States,2013,Ferrari,FF,Coupe
99996,Melanie,Lucas,756-55-3086,TJL 034,1ELCY78HIUP693151,59808 Walker Summit Suite 944,Port Kelly,77234,Texas,United States,2003,Chevrolet,Cavalier,"Sedan, Coupe"
99997,Sarah,Johnston,516-23-5146,ASB 352,0TYSK88DSZH075134,079 Teresa Street,South Ianton,79092,Texas,United States,1999,Volkswagen,Jetta (New),Sedan
99998,Mark,Baker,176-65-9674,GUH 749,4BJSZ43CGRI975788,868 Johnson Circles Apt. 881,South Randalltown,77471,Texas,United States,2004,Honda,Civic,"Coupe, Sedan, Hatchback"
99999,Mark,Hernandez,395-76-7485,NYO 226,0TSVE37FNVV931860,5817 Aguilar Vista,Ruizstad,75867,Texas,United States,2005,Subaru,Legacy,"Sedan, Wagon"

In [10]:
import sqlalchemy

In [13]:
connection_string = "sqlite:///database_file.db"

In [14]:
engine = sqlalchemy.create_engine(connection_string)

In [15]:
df.to_sql(
    name="Texas License Plates",
    con=engine,
    if_exists="replace",
    index=True)

In [18]:
engine.table_names()

/var/folders/bk/z2_y916x5gx26_4vt2c_99zh0000gn/T/ipykernel_17252/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Texas License Plates']